html, body {
        color: white;
        background-color: #434;
        font-family: sans;
        margin: 0;
        padding: 0;
        height: 100%;
}

#container {
        min-height: 100%;
        position: relative;
}

#header {
        padding: 1em;
        margin: 0;
        font-size: 3em;
        text-align: center;
        font-family: serif;
        background-color: #223;
}

#sidebar {
        float: left;
        width: 15%;
        font-family: serif;

}

#sidebar a {
        color: #cff;
}

#sidebar ul {
        list-style-type: none;
}

#sidebar ul > li {
        padding: 0.3em 0;
}

#sidebar ul > li > a {
        text-decoration: none;
}

#sidebar ul > li > a:hover {
        font-weight: bolder;
}

#content {
        width: 65%;
        margin: 0 auto;
        padding: 1em;
        border-left: 5px solid #112;
        border-right: 5px solid #112;
        background-color: #111;
}

#footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1em;
        padding: 1em 0;

        background-color: #223;
        text-align: center;
        font-variant: small-caps;
        font-style: italic;
        font-family: serif;
}
