body {
        color: white;
        background-color: #324;
        font-family: sans;
}

#header {
        padding: 50px;
        margin: 0;
        font-size: 2em;
        text-align: center;
        font-family: serif;
        background-color: #112;
}

#sidebar {
        float: left;
        width: 15%;
        font-family: serif;

}

#sidebar a {
        color: #cff;
}

#sidebar > ul {
        list-style-type: none;
}

#sidebar > ul > li {
        padding: 0.3em 0;
}

#sidebar > ul > li > a {
        text-decoration: none;
}

#sidebar > ul > li > a:hover {
        font-weight: bolder;
}

#content {
        float: clear;
        width: 65%;
        margin: 0 auto;
        padding: 20px;
        border-left: 5px solid #112;
        border-right: 5px solid #112;
        background-color: #111;
}

#footer {
        margin: 0 auto;
        padding: 50px 0;
        text-align: center;
        font-variant: small-caps;
        font-style: italic;
        background-color: #112;
}
