<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
        <head>
                <link rel="stylesheet" href="{{STATIC_URL}}style.css" />
                {% if form.media %}
                <script type="text/javascript" src="{{STATIC_URL}}jquery.js"></script>
                {{ form.media }}
                {% endif %}

                <title>{% block title %}Le Néphaliste{% endblock %}</title>
        </head>

        <body>
                <div id="container">

                <div id="header">
                        Le Néphaliste
                </div>

                <div id="sidebar">
                        <div id="menu">
                        {% block sidebar %}
                                <ul>
                                        <li><a href="/bar/">beber</a></li>
                                        <li><a href="/compte/">Les alcooliques</a></li>
                                </ul>
                                {% endblock %}
                        </div>

                        <div id="submenu">
                                {% block submenu %}
                                {% endblock %}
                        </div>
                </div>

                <div id="content">
                        {% block content %}{% endblock %}
                </div>

                <div id="footer">
                        La Coopééééééé
                </div>

                </div>
        </body>
</html>
